<% provide(:title, "Edit gallery") %>
<h1>Update gallery</h1>
<div class="row">
  <div class="span6 offset3">
    <%= form_for(@gallery) do |f| %>
     <%= render 'shared/error_messages', object: f.object %>
  	  <p>
    	  <%= f.label :name %>
      <%= f.text_field :name %>
  	  </p>
  	  <p><%= f.submit %></p>
	<% end %>
  </div>
</div>